@use '../../global';


body {
    z-index: 0;
}

header { 
    z-index: 0;
    opacity: 5;
    height: 200px;
    background-image: url(../../assets/images/index/Group\ 7100.png);
    .header {
        display: flex;
        z-index: 0;
        img {
            width: 303px;
            height: 202px;  
            z-index: 0;
            filter: drop-shadow(5px 11px 16px rgba(0, 0, 0, 0.2));
        }
        span {
            padding-top: 68px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 150%;
        }
    }
}

.promotion {
    margin-top: 76px;
    .promotion-title {
        display: flex;
        h3 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            color: #414141;
        }
        a {
            gap: 16px;
            margin-left: auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #606060;
        }
    }
    .promotion-cards {
        margin-top: 40px;
        gap:40px;
        display:flex;
        justify-content: center;
        .card {
        padding: 0px;
        width: 272px;
        height: 349px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        .product {
            display: inline-block;
        }
        .like {
            margin-top: 14px;
            margin-left: 237px;
            position: absolute;
            &:hover {
                    
                color: red;
                border-color:red ;
            }
        }
        .percent {
            margin-top: 118px;
            margin-left: 10px;
            width: 56px;
            height: 32px;
            padding: 4px 8px;
            gap: 10px;
            border-radius: 4px;
            position: absolute;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            background: #FF6633;
            color: white;
        
        }
        .discount {
            margin-top: 11px;
            display: flex;
            gap: 126px;
            .with-card {
                margin-left: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
            .cash {
                margin-right: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #606060;
                }
            }
            p {
                width: 71px;
                height: 18px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;  
                color: #BFBFBF;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }   
        }
        .title {
            margin-left: 8px;
            width: 256px;
            height: 48px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #414141;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
        .star {
            margin-left: 8px;
            margin-top: 8px;
        }
        button {
            margin-top: 8px;
            margin-left: 8px;
            width: 256px;
            height: 40px;
            border-radius: 4px;
            background-color: transparent;
            border: 2px solid #70C05B;
        a {
            padding: 8px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #70C05B;
        }
        &:hover {
            background: #FF6633;
            border-color:transparent;
            a {
        
                color: white;
            }
        }
        }
        }
    }
}


@media (max-width:1150px) {
 .promotion {
    .promotion-cards {
        gap: 32px;
        .card {
            width: 224px;
            height: 349px;
            .product {
                display: inline-block;
                width: 224px;
                height: 160px;
            }
            .like {
                margin-left: 189px;
                margin-right:auto;
            }
            .discount {
                .cash {
                    margin-left: -50px; 
                }
            }
            .title {
                width: 208px;
                height: 48px;
            }
            .star {
                margin-top: 18px;
            }
            button {
                width: 208px;
                height: 40px;
                margin-bottom: 8px;
            }
        }
        .card:nth-child(4) {
            display: none;
        }
    }
 }  
 .header {
    img {
        display: none;
    }
    span {
        display: none;
    }

} 
}

@media (max-width:750px) {
    .header {
        img {
            display: none;
        }
        span {
            width:582px;
            height:10px;
            margin-top: 27px;
            display: flex;
            align-items: center;
            text-align: center;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 150%
        }
     }
    .promotion {
        .promotion-cards {
    flex-wrap: wrap;
    align-content: space-evenly ;
                .card:nth-child(4) {
               display: flex;
            }
        }
    }
}

@media (max-width:535px) {
.promotion {
    align-items: center;
    justify-content: center;
    .promotion-cards {
        .card {
            width: 160px;
            height: 343px;
            .product {
                display: inline-block;
                width: 160px;
                height: 160px;  
             }
            .like {
                display: inline-block;
                margin-left: 130px;
                margin-right: auto;
            }
            .percent {
              width: 46px;
              height: 24px;
              font-size: 12px;
              line-height: 150%;
              font-family: 'Rubik';
            }  
            .discount {
                display: flex;
                gap: 70px;
                .with-card, .cash{
                    h4 {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 150%;
                        font-family: 'Rubik';
                    }
                    p { 
                        padding-left: -50px;
                        font-size: 8px;
                        line-height: 150%;
                    }
                }
            } 
            .title {
                width: 144px;
                height: 54px;
                font-size: 12px;
                line-height: 150%;
            }
            button {
                width: 144px;
                height: 40px;
            }
            // .promotion {
            //     .promotion-cards {
            //     .third-card {
              
            //     }
            //     .fourth-card {

            //     }
            //     }
            // }
         }
    }
}
}

/// new products

.new {
    margin-top: 120px;
    .new-title {
        display: flex;
        h3 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            color: #414141;
        }
        a {
            gap: 16px;
            margin-left: auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #606060;
        }
    }
    .new-cards {
        margin-top: 40px;
        gap:40px;
        display:flex;
        justify-content: center;
        .card {
        padding: 0px;
        width: 272px;
        height: 349px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        .product {
            display: inline-block;
        }
        .like {
            margin-top: 14px;
            margin-left: 237px;
            position: absolute;
            &:hover {
                    
                color: red;
                border-color:red ;
            }
        }
        .percent {
            margin-top: 118px;
            margin-left: 10px;
            width: 56px;
            height: 32px;
            padding: 4px 8px;
            gap: 10px;
            border-radius: 4px;
            position: absolute;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            background: #FF6633;
            color: white;
        
        }
        .discount {
            margin-top: 11px;
            display: flex;
            gap: 126px;
            .with-card {
                margin-left: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
            .cash {
                margin-right: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #606060;
                }
            }
            p {
                width: 71px;
                height: 18px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;  
                color: #BFBFBF;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }   
        }
        .title {
            margin-left: 8px;
            width: 256px;
            height: 48px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #414141;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
        .star {
            margin-left: 8px;
            margin-top: 8px;
        }
        button {
            margin-top: 8px;
            margin-left: 8px;
            width: 256px;
            height: 40px;
            border-radius: 4px;
            background-color: transparent;
            border: 2px solid #70C05B;
        a {
            padding: 8px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #70C05B;
        }
        &:hover {
            background: #FF6633;
            border-color:transparent;
            a {
        
                color: white;
            }
        }
        }
        }
    }
}


@media (max-width:1150px) {
    .new {
       .new-cards {
           gap: 32px;
           .card {
               width: 224px;
               height: 349px;
               .product {
                   display: inline-block;
                   width: 224px;
                   height: 160px;
               }
               .like {
                   margin-left: 189px;
                   margin-right:auto;
               }
               .discount {
                   .cash {
                       margin-left: -50px; 
                   }
               }
               .title {
                   width: 208px;
                   height: 48px;
               }
               .star {
                   margin-top: 18px;
               }
               button {
                   width: 208px;
                   height: 40px;
                   margin-bottom: 8px;
               }
           }
           .card:nth-child(4) {
               display: none;
           }
       }
    }   
   }
   
   @media (max-width:750px) {
       .new {
           .new-cards {
       flex-wrap: wrap;
       align-content: space-evenly ;
                   .card:nth-child(4) {
                  display: flex;
               }
           }
       }
   }
   
   @media (max-width:535px) {
   .new {
       align-items: center;
       justify-content: center;
       .new-cards {
           .card {
               width: 160px;
               height: 343px;
               .product {
                   display: inline-block;
                   width: 160px;
                   height: 130px;  
                }
               .like {
                   display: inline-block;
                   margin-left: 130px;
                   margin-right: auto;
               }
               .discount {
                   display: flex;
                   gap: 70px;
                   .with-card, .cash{
                       h4 {
                           font-size: 14px;
                           font-weight: 700;
                           line-height: 150%;
                           font-family: 'Rubik';
                       }
                       p { 
                           padding-left: -50px;
                           font-size: 8px;
                           line-height: 150%;
                       }
                   }
               } 
               .title {
                   width: 144px;
                   height: 54px;
                   font-size: 12px;
                   line-height: 150%;
               }
               button {
                   width: 144px;
                   height: 40px;
               }
            //    .new {
            //        .new-cards {
            //        .third-card {
                 
            //        }
            //        .fourth-card {
   
            //        }
            //        }
            //    }
            }
       }
   }
   }




   .bought-before {
    margin-top: 120px;
    .bought-before-title {
        display: flex;
        h3 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            color: #414141;
        }
        a {
            gap: 16px;
            margin-left: auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #606060;
        }
    }
    .bought-before-cards {
        margin-top: 40px;
        gap:40px;
        display:flex;
        justify-content: center;
        .card {
        padding: 0px;
        width: 272px;
        height: 349px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FFFFFF;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        .product {
            display: inline-block;
        }
        .like {
            margin-top: 14px;
            margin-left: 237px;
            position: absolute;
            &:hover {
                    
                color: red;
                border-color:red ;
            }
        }
        .percent {
            margin-top: 118px;
            margin-left: 10px;
            width: 56px;
            height: 32px;
            padding: 4px 8px;
            gap: 10px;
            border-radius: 4px;
            position: absolute;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            background: #FF6633;
            color: white;
        
        }
        .discount {
            margin-top: 11px;
            display: flex;
            gap: 126px;
            .with-card {
                margin-left: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
            .cash {
                margin-right: 8px;
                h4 {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    color: #606060;
                }
            }
            p {
                width: 71px;
                height: 18px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;  
                color: #BFBFBF;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;
            }   
        }
        .title {
            margin-left: 8px;
            width: 256px;
            height: 48px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #414141;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
        }
        .star {
            margin-left: 8px;
            margin-top: 8px;
        }
        button {
            margin-top: 8px;
            margin-left: 8px;
            width: 256px;
            height: 40px;
            border-radius: 4px;
            background-color: transparent;
            border: 2px solid #70C05B;
        a {
            padding: 8px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #70C05B;
        }
        &:hover {
            background: #FF6633;
            border-color:transparent;
            a {
        
                color: white;
            }
        }
        }
        }
    }
}

@media (max-width:1150px) {
    .bought-before {
       .bought-before-cards {
           gap: 32px;
           .card {
               width: 224px;
               height: 349px;
               .product {
                   display: inline-block;
                   width: 224px;
                   height: 160px;
               }
               .like {
                   margin-left: 189px;
                   margin-right:auto;
               }
               .discount {
                   .cash {
                       margin-left: -50px; 
                   }
               }
               .title {
                   width: 208px;
                   height: 48px;
               }
               .star {
                   margin-top: 18px;
               }
               button {
                   width: 208px;
                   height: 40px;
                   margin-bottom: 8px;
               }
           }
           .card:nth-child(4) {
               display: none;
           }
       }
    }  
   }
   
   @media (max-width:750px) {
       .bought-before {
        .bought-before-title {
           h3 {
            width: 180px;
           } 
        }
           .bought-before-cards {
                flex-wrap: wrap;
                align-content: space-evenly ;
                   .card:nth-child(4) {
                      display: flex;
               }
           }
       }
   }
   
   @media (max-width:535px) {
   .bought-before {
       align-items: center;
       justify-content: center;
       .bought-before-cards {
           .card {
               width: 160px;
               height: 343px;
               .product {
                   display: inline-block;
                   width: 160px;
                   height: 130px;  
                }
               .like {
                   display: inline-block;
                   margin-left: 130px;
                   margin-right: auto;
               }
               .discount {
                   display: flex;
                   gap: 70px;
                   .with-card, .cash{
                       h4 {
                           font-size: 14px;
                           font-weight: 700;
                           line-height: 150%;
                           font-family: 'Rubik';
                       }
                       p { 
                           padding-left: -50px;
                           font-size: 8px;
                           line-height: 150%;
                       }
                   }
               } 
               .title {
                   width: 144px;
                   height: 54px;
                   font-size: 12px;
                   line-height: 150%;
               }
               button {
                   width: 144px;
                   height: 40px;
               }
            //    .new {
            //        .new-cards {
            //        .third-card {
                 
            //        }
            //        .fourth-card {
   
            //        }
            //        }
            //    }
            }
       }
   }
   }



 .offer {
    margin-top: 120px;
h4 {
    font-size: 36px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--main-on-surface, #414141);
}
.offer-row {
    margin-top: 40px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .offer-left, .offer-right {
        width: 584px;
        // height: 200px;
        display: flex;
        h5 {
            margin-top: 30px;
            margin-left: 40px;
            font-size: 24px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            color: var(--main-on-surface, #414141);
        }
        p {
            width: 258px;
            margin-top: 10px;
            margin-left: 40px;
            font-size: 16px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            color: var(--main-on-surface, #414141);
        }
      }
             .offer-left {
                border-radius: 4px;
                background: var(--main-primary-muted, #FCD5BA);
                box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);
                }
            .offer-right {
                border-radius: 4px;
                background: var(--main-secondary-muted, #E5FFDE);
                }
}
 }

 @media (max-width:1150px) {
    .offer {
        h4 {
            font-size: 24px;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
        .offer-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            .offer-left, .offer-right {
                width: 355px;
                height: 170px;
                h5 {
                    width: 130px;
                    font-size: 18px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }
                p {
                    width: 170px;
                margin-top: -4px;
                    font-size: 12px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
            }

            .offer-left {
                overflow: hidden;
                img {
                    margin-top: 30px;
                    display:inline-block;
                    align-items: center;
                    justify-content: center;
                    width: 165px;
                    height: 110px;
                    transform: rotate(13.866deg);
                    flex-shrink: 0;

                }
            } 
            .offer-right {
                img {
                    margin-top: 30px;
                    display: inline-block;
                    width: 132px;
                    height: 126px;
                    flex-shrink: 0;
                }
            }
        }
    }
 }


 @media(max-width:750px) {
    .offer {
        .offer-row {
            display: flex;
            flex-direction: column;
        }
    }
 }


 .location {
    margin-top: 120px;
    h4 {
        font-size: 36px;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        color: var(--main-on-surface, #414141);
    }
    .ap-tab {
        margin-top: 40px;
     .ap-tab-list {
         display: flex;
        margin-bottom: 24px;
        gap:24px;
        li {
            padding: 8px;
            border-radius: 4px;
            background: var(--grayscale-lightest, #F3F2F1);
            &:hover {
                background: var(--main-secondary, #70C05B);

            }
         a {
             text-align: center;
             font-size: 12px;
             font-family: 'Rubik';
             font-style: normal;
             font-weight: 400;
             line-height: 150%;
             color: var(--grayscale-hardest, #606060);
             &:hover {
                color: var(--main-on-secondary, #FFF);

             }
         }
        }
     }  
     .ap-tab-container {
        .ap-tab-content {
            display: flex;
            justify-content: center;
            align-items: center;
            iframe {
                display: inline-block;
                // width: 1208px;
                width: 100%;
                height: 354px;
            }
        }
     }
    }
 }

@media(max-width:750px) {
    .location {
       .ap-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
       } 
    }
}


.article {
    margin-top: 120px;
    margin-bottom: 80px;
    .article-title {
        display: flex;
        h3 {
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 150%;
            color: #414141;
        }
        a {
            gap: 16px;
            margin-left: auto;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #606060;
        }
    }
    .article-cards{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
        .card {
            width: 376px;
            height: 420px;
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            background: var(--main-surface, #FFF);
            box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.20);
            img {
                width: 376px;
                height: 162px;
            }
            .article-text {
                margin-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                span {
                    margin-top: 10px;
                    font-size: 12px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    color: var(--grayscale-hard, #8F8F8F);
                }
                h5 {
                    margin-top: 10px;
                    font-size: 18px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    color: var(--main-on-surface, #414141);
                }
                p {
                    margin-top: 10px;
                    font-size: 16px;
                    height: 100px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    color: var(--main-on-surface, #414141);
                }
                button {
                    margin-top: 10px;
                    width: 150px;
                    height: 40px;
                    padding: 8px;
                    border-radius: 4px;
                    background: var(--main-secondary-muted, #E5FFDE);
                    a {
                        text-align: center;
                        font-size: 16px;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        color: var(--main-secondary, #70C05B); 
                    }
                    &:hover {
                        background: var(--main-secondary, #70C05B);
                        a {
                            color: var(--main-on-secondary, #FFF);  
                        }
                    }
                }
                .article-btn-2 {
                    margin-top: 33px;
                }
            }
        }
    }
}

@media (max-width:1150px) {
    .article {
        .article-cards {
            gap: 32px;
            .card {
                width: 224px;
                height: 100%;
                img {
                    display: inline-block;
                    width: 224px;
                    height: 156px;
                }
                .article-img-1 {
                    display: inline-block;
                    // width: 224px;
                    height: 156px;
                }
                span {
                    font-size: 8px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
                h5 {
                    width: 215px;
                    // height: 72px;
                    font-size: 16px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }
                p {
                    margin-bottom: 70px;
                    width: 204px;
                    font-size: 12px;
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                }
                
                button {
                     margin-bottom: 10px;
                }
            }
        }
    }
}

@media(max-width:750px) {
    .article {
        justify-content: center;
        .article-cards {
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center;
          .card {
            width: 336px;
            height: 100%;
            img {
                width: 336px;
                height: 102px;
            }
            span {
                font-size: 8px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
            h5 {
                width: 336px;
                height: 48px;
                font-size: 16px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
            p {
                margin-bottom: 20px;
                width: 316px;
                height: 54px;
                font-size: 12px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        
          }
        }
    }
}

#main_footer {
    height: 0px;
    background-color: #F9F4E2;
    background-image: url(../../assets/images/footer/bg-footer.svg);
    .main_footer {
        padding-top: 37px;
        display: flex;
        .logo {
            margin-right: 40px;
        }
        .about-us {
            padding-top: 15px;
            margin-right: 110px;
            display: flex;
            ul {
                gap: 40px;  
                display: flex;
                margin-left: auto;
                margin-right: auto;
                justify-content: center;
                li {
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }
       .social-media {
        margin-right: 40px;
        gap: 20px;
        display: flex;
        div {
            display: flex;
            gap: 20px;

        }
       }
       .contact-us {    
        display: flex;
        flex-direction: column;
        .number {
            padding-top: 15px;
            gap:10px;
            display: flex;
            a {
                color:  #414141;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 150%;
            }
        }
        .founder {
            padding-top: 15px;
            gap: 5px;
            display: flex; 
            .designer {
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
            } 
            .name {
                font-family: 'Vollkorn SC';
                font-style: normal;
                font-weight: 800;
                font-size: 12px;
                line-height: 150%;
            }
        }
       }
    }
}

@media (max-width:1150px) {
.main_footer {
    .about-us {
        display: flex;
        flex-direction: column;
    }
    .social-media {
        display: flex;
        flex-direction: column;
    }
}
}

@media (max-width:860px) {
    #main_footer {
    margin-bottom: 350px;

        .main_footer {
            display: flex;
            justify-content: center;
            .logo {
                display: inline-block;
                width: 93px;
                height: 64px;
            }
            .about-us {
                margin-top: 128px;
                position: absolute;
                ul {
                display: flex;
                gap: 16px;
                }
            }
            .social-media {
                margin-right: 34px;
                display: flex;
                flex-direction: row;
            }
            .contact-us {
                position: absolute;
                .number {
                    margin-left: 100px;
                    margin-top: 38px;
                  }
                  .founder {
                      display: none;
                  }
            }
        }
    }
}

